:root {
  --color-bg: #f5f5f5; /*Main Bkgnd: LT GREY*/
  --color-text-main: #000000; /*Black*/
  --color-primary: #ef601e;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* footer */
footer {
      text-align: center;
      padding: 10px;
      background-color: #f0f0f0;
    }

/* iframes border */
iframe {
      border: 2px solid #cccccc; /* Set the border style */
      border-radius: 8px; /* Optional: Add rounded corners */
      display: block; /* Make sure the iframe is a block element */
}

body {
      border-right: 5vw solid #457778; /* Set the right border to 10% of the screen width */
      margin: 0; /* Remove default margin to fully utilize the screen width */
      box-sizing: border-box; 
}


.divider {
  padding: 0 1rem;
}

/* Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Page structure */
.wrapper {
  margin: 0px 20%;
  min-height: var(--wrapper-height);
  display: grid;
  place-items: left;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-left: -15px;
}

/* side nav bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #457778; /*#70ae98; /*TEAL*/
  overflow-x: hidden;
/*  transition: 0.5s;*/
  padding-top: 15%;
  text-transform: uppercase;
  overflow: auto;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d0d0d0;
  display: block;
  align-items: center;
  /*transition: 0.3s;*/
}
.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #457778;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #e6b655; /*YELLOW*/
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15%;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

/* TEXT HEADINGS */
head {
  background-color: #000000;
  color: #023047;
}
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}
ul {
  background-color: #d0d0d0;
  color: #000000;
  list-style-type: square;
}
h1 {
  color: #457778;
  font-size: 35px;
  text-transform: uppercase;
}
/*LILAH DENTON*/
#about {
  text-transform: uppercase;
  text-align: left;
  color: #000; /*DK BLUE*/
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin-top: 40px;
}

#email-link {
  color: black;
  text-decoration: none;
}

h2 {
  color: #000;
  font-size: 25px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 17px;
}

/*ICONS*/
#java {
  width: 100px;
  height: 100px;
  position: relative;
}
#javascript {
  width: 100px;
  height: 100px;
  position: relative;
}
#css {
  width: 83px;
  height: 83px;
  position: relative;
  top: -5px;
  left: 5px;
}
#html {
  width: 100px;
  height: 100px;
  position: relative;
}
#c {
  width: 90px;
  height: 90px;
  position: relative;
  left: 10px;
}

#ppicon {
  height: 40px;
  width: 40px;
  position: relative;
}

#award-logo-ncwit {
  display: inline-block;
  position: wrap;
  width: 170px;
  height: 150px;
  margin-top: 2%;
  margin-left: 3%;
}

#award-logo-nextech {
  display: inline-block;
  position: wrap;
  width: 150px;
  height: 150px;
  margin-left: 4%;
  margin-top: 3%;
}
#icon {
  width: 30px;
  height: 30px;
}



/* Project buttons */


.project-buttons {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #dddddd; /* Grey background color */
  color: #000000; /* Black text color */
  border: 2px solid #000000; /* Black border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Hover styles */
.project-buttons:hover {
  background-color: #666666; /* Darker grey on hover */
  color: #ffffff; /* White text on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}
