:root {
  --color-bg: #F0F0F0; /*Main Bkgnd: LT GREY*/
  --color-text-main: #000000; /*Black*/
  --color-primary: #EF601E;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* footer */
footer {
  text-align: center;
}

.divider {
  padding: 0 1rem;
}

/* Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Page structure */
.wrapper {
  margin: 0px 20%;
  min-height: var(--wrapper-height);
  display: grid;
  place-items: left;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-left: -15px;
}

/* side nav bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #70AE98; /*TEAL*/
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-transform: uppercase;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #D0D0D0;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #000000;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #70AE98;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #E6B655; /*YELLOW*/
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

/* TEXT HEADINGS */
head {
  background-color: #000000;
  color: #023047;
}
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}
ul {
  background-color: #D0D0D0;
  color: #000000;
  list-style-type: square;
}
h1 {
  color: #70AE98;
  font-size: 35px;
  text-transform: uppercase;
}
/*LILAH DENTON*/
#about {
  text-transform: uppercase;
  text-align: left;
  color: #000; /*DK BLUE*/
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin-top: 40px;
}
h2 {
  color: #000;
  font-size: 25px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 17px;
}

/*ICONS*/
#java {
  width: 100px;
  height: 100px;
  position: relative;
}
#javascript {
  width: 100px;
  height: 100px;
  position: relative;
}
#css {
  width: 83px;
  height: 83px;
  position: relative;
  top: -5px;
  left: 5px;
}
#html {
  width: 100px;
  height: 100px;
  position: relative;
}

#ppicon {
  height: 50px;
  width: 50px;
  position: relative;
}

#award-logo-ncwit {
  display: inline-block;
  position: wrap;
  width: 170px;
  height: 150px;
  margin-top: 2%;
  margin-left: 3%;
}

#award-logo-nextech {
  display: inline-block;
  position: wrap;
  width: 150px;
  height: 150px;
  margin-left: 4%;
  margin-top: 3%;
}
#icon {
  width: 50px;
  height: 50px;
}
